.logo {
    display: block;
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: darkblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#tabela {
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    width: auto;
}